.profile__avatar {
  position: relative;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  height: 260px;
  width: 260px;
  padding: 0;
  margin: 0 auto;
  border: none;
  background: white;
  @media screen and (max-width: 600px) {
    height: 220px;
    width: 220px;
  }
  &--image {
    display: block;
    margin: 3px;
    border-radius: 50%;
    width: 254px;
    height: 254px;
    @media screen and (max-width: 600px) {
      height: 214px;
      width: 214px;
    }
    overflow: hidden;
    z-index: 100;
    img {
      width: 100%;
      height: auto;
    }
  }
  &--level {
    margin-top: 20px;
    text-align: center;
  }
}


/**
* Function to generate procentual progress classes 
* .p-1 1% -> p-100 100%
**/

$step: 1;
$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);
@for $i from 1 through $loops {
  .p-#{$i*$step} {
    @if $i < $half {
      $nextdeg: 90deg + ( $increment * $i);
      background-image: linear-gradient(90deg, white 50%, transparent 50%, transparent), linear-gradient($nextdeg, $brand 50%, white 50%, white);
    }
    @else {
      $nextdeg: -90deg + ( $increment * ( $i - $half));
      background-image: linear-gradient($nextdeg, $brand 50%, transparent 50%, transparent), linear-gradient(270deg, $brand 50%, white 50%, white);
    }
  }
}

.profile {
  &__name {
    font-size: 6rem;
    font-weight: 300;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    @media screen and (max-width: 992px) {
      margin-top: 30px;
    }
    @media screen and (max-width: 600px) {
      font-size: 4rem;
    }
    &:after {
      content: "";
      display: block;
      width: 30%;
      height: 3px;
      background-color: #34bfa3;
      position: absolute;
      top: calc(100% + 15px);
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  &__subtitle {
    color: $brand;
    margin: 30px 0 15px;
    text-transform: uppercase;
  }
  &__pill {
    background-color: $body-bg;
    color: white;
    font-size: 12px;
    padding: 0.65rem 1rem;
    line-height: 1.5;
    min-height: 37px;
    display: inline-block;
    border-radius: 60px;
    &--small {
      padding: .15rem .8rem;
      min-height: initial;
    }
    &--logo {
      height: 14px;
    }
    &--logo,
    i {
      margin-right: 5px;
    }
  }
  &__role {
    font-size: 16px;
    color: $grey;
    text-align: center;
    &--current {
      color: $green;
      font-size: 30px;
      vertical-align: middle;
    }
    i {
      margin: 0 5px;
    }
    span {
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
  }
  &__details {
    &--title {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      padding: 4px 0;
    }
    &--info {
      font-size: 16px;
      padding: 4px 0;
    }
    &--pills {
      margin: 15px 0;
      .profile__pill {
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__strenght {
    position: relative;
    &--info {
      position: absolute;
      left: 5px;
      top: 3px;
      color: white;
      vertical-align: middle;
      text-transform: uppercase;
      .la {
        vertical-align: middle;
      }
    }
    .m-progress--custom {
      height: 24px;
      margin-bottom: 12px;
    }
    .progress {
      background: transparent;
      box-shadow: none;
    }
  }
  &__tags {
    padding: 0;
    list-style: none;
    >li {
      float: left;
      margin-bottom: 5px;
      margin-right: 10px;
      a {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
  &__badge {
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100px;
    &--circle {
      width: 100%;
      background: $green;
      padding-bottom: 100%;
      border-radius: 50%;
      position: relative;
    }
    &--icon {
      position: absolute;
      left: 50%;
      top: 54%;
      transform: translate(-50%, -50%);
      i {
        font-size: 2.5rem !important;
        color: white;
      }
    }
    &--title {
      margin-top: 8px;
      text-align: center;
      font-size: 12px;
    }
  }
  &__article {
    margin-bottom: 30px;
    &--title {
      font-size: 16px;
      color: $dark;
    }
    &--tags {
      padding: 0;
      list-style: none;
      margin-bottom: 0;
      >li {
        float: left;
        margin-bottom: 5px;
        margin-right: 10px;
        a {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
    &--date {
      color: $grey;
      font-size: 12px;
    }
    &--link {
      font-weight: 500;
      font-size: 12px;
    }
  }
  &__text {
    p {
      margin-bottom: 4px;
    }
  }
  &__skill {
    box-shadow: 0px 1px 15px 1px rgba(81, 77, 92, 0.08);
    padding: 10px;
    margin-bottom: 12px;
    &--title {
      float: left;
      font-size: 14px;
      color: $dark;
      font-weight: 500;
    }
    &--progress {
      float: right;
      width: 33%;
      .progress {
        margin-bottom: 0;
        margin-top: 8px;
      }
    }
  }
}