.profile-timeline {
  position: relative;
  &__content {
    box-shadow: 0px 1px 15px 1px rgba(81, 77, 92, 0.08);
    padding: 30px;
    position: relative;
    @media screen and (max-width: 767px) {
      padding: 30px 10px;
    }
  }
  &__title {
    color: $body-bg;
    text-align: center;
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  &__form {
    max-width: 500px;
    box-shadow: 0px 1px 15px 1px rgba(81, 77, 92, 0.08);
    padding: 30px 30px 0;
    @media screen and (max-width: 767px) {
      padding: 15px 15px 0;
    }
    .m-form__actions {
      padding: 30px 0;
    }
  }
  &__action {
    text-align: right;
    .btn {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__add {
    margin-bottom: 30px;
  }
  &__milestones {
    input[type=checkbox]:checked {
      &+.profile-timeline__milestones--label {
        text-decoration: line-through;
      }
    }
    @media screen and (max-width: 992px) {
      margin-bottom: 30px;
    }
    &--date,
    &--name,
    &--action {
      display: inline-block;
      vertical-align: middle;
      color: #898b96;
      font-size: 12px;
    }
    &--date {
      margin: 0 4px 3px;
      @media screen and (max-width: 425px) {
        margin: 0 4px 3px 0;
      }
    }
    &--name {
      @media screen and (max-width: 425px) {
        display: block;
      }
    }
  }
  &__check {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 60px 0 0;
    border-color: $green transparent transparent transparent;
    &--icon {
      position: absolute;
      left: 10px;
      top: 10px;
      color: white;
    }
    &--wrapper {
      position: absolute;
      left: -1px;
      top: -1px;
      ;
      width: 60px;
      height: 60px;
    }
  }
  .m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-cricle {
    left: 7.1em;
    @media screen and (max-width: 767px) {
      left: .25em;
    }
  }
  .m-timeline-2:before {
    left: 7.89em;
    @media screen and (max-width: 767px) {
      left: 1em;
    }
  }
  .m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-text {
    padding-left: 9em;
    width: 100%;
    @media screen and (max-width: 767px) {
      padding-left: 1em;
      padding-top: 35px !important;
    }
  }
  .m-timeline-2:before {
    top: 10px;
    height: calc(100% - 10px);
  }
  .m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-time {
    @media screen and (max-width: 767px) {
      left: 2em;
    }
  }
}